@import url(https://fonts.googleapis.com/css?family=Raleway:800);
@import url(https://fonts.googleapis.com/css?family=Lato);

@font-face {
	font-family: Quincho;
	src: url('../fonts/Quincho.ttf');
}

* {
	box-sizing: border-box;
}

body {
	background-color: $yellow;
	font-size: 18px;
	@media (min-width: 769px) {
		font-size: 32px;
	}
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-family: $raleway;
}

section {
	height: 100vh;
}