@import url(https://fonts.googleapis.com/css?family=Raleway:800);
@import url(https://fonts.googleapis.com/css?family=Lato);

@font-face {
	font-family: Quincho;
	src: url('../fonts/Quincho.ttf');
}

body {
	background-color: $yellow;
	font-size: 16px;
	@media (min-width: 769px) {
		font-size: 32px;
	}
}

h1 {
	margin: 0;
}

section {
	height: 100vh;
}