.section-1 {
	display: flex;
	flex-direction: row;
	background:     linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url("../imgs/header-laptop-background.jpg") center no-repeat;
    background-size: cover;
	.split-section {
		width: 50%;
		height: 100%;
		&.who-am-i {
			z-index: 2;
			position: relative;
			&:after {
				overflow: hidden;
			    transform: skewX(-50deg);
			    content: '';
			    height: 612px;
			    position: absolute;
			    left: -55vw;
			    top: 0;
			    z-index: -1;
			    border-left: 103vw solid $yellow;
			    border-right: 20px solid $grey;
			}
		}
		&.where-am-i {
			position: relative;
		    z-index: 2;
		    #whereami-h2 {
		    	transform: rotate(-40deg);
		    	position: absolute;
		    	top: 28.5%;
		    	padding-top: 20px;
		    	color: $grey;
		    	text-transform: uppercase;
		    }
		    img {
		    	position: absolute;
		    	bottom: 20px;
		    	right: 20px;
		    }
		}
	}
}