.section-1 {
	display: flex;
	flex-direction: row;
	.split-section {
		width: 50%;
		height: 100%;
		&.where-am-i {
			position: relative;
			background:     linear-gradient(
		      rgba(0, 0, 0, 0.7), 
		      rgba(0, 0, 0, 0.7)
		    ), url("../imgs/header-laptop-background.jpg") center no-repeat;
		    background-size: cover;
		    #whereami-h2 {
		    	transform: rotate(-40deg);
		    	position: absolute;
		    	top: 32%;
		    	color: $grey;
		    }
		    img {
		    	position: absolute;
		    	bottom: 30px;
		    	right: 30px;
		    }
		    &:before {
			    content: '';
			    display: inline-block;
			    border: 10px solid $grey;
			    height: 100%;
			    transform: skewX(-50deg);
			}
		}
	}
}